* {
    margin     : 0;
    padding    : 0;
    font-family: sans-serif;
}

body {
    min-height     : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    text-transform : uppercase;
    background     : #15334e;
}

h1 {
    color          : #fff;
    /* animation      : enterAnimation 2s ease-in-out forwards; */
    animation-delay: 1s;
    /* initial state */
    opacity        : 0.1;
    letter-spacing : 7px;
    font-size      : 4.5em;
    line-height    : 1.5em;
    text-align     : center;
}

@keyframes enterAnimation {
    50% {
        letter-spacing: 20px;
        font-size     : 4.6em;
    }

    100% {
        letter-spacing: 7px;
        opacity       : 1;
        font-size     : 4.5em;
    }
}

h2 {
    color         : #ff6347;
    letter-spacing: 7px;
    font-size     : 4em;

    height         : 0;
    overflow       : hidden;
    /* animation      : pillsAnimation 1s forwards; */
    animation-delay: 3s;
}

@keyframes pillsAnimation {
    100% {
        height: 80px;
    }
}